<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>821335073765-9jaka8k4r8a43oerrln7h6sl26h7mtcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821335073765-9jaka8k4r8a43oerrln7h6sl26h7mtcl</string>
	<key>API_KEY</key>
	<string>AIzaSyDW71XIaZN7pd9DEdlzzh-UGfQGX-NRzJA</string>
	<key>GCM_SENDER_ID</key>
	<string>821335073765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.townsend.Kidz-Bop-Player</string>
	<key>PROJECT_ID</key>
	<string>kidz-bop-player</string>
	<key>STORAGE_BUCKET</key>
	<string>kidz-bop-player.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821335073765:ios:f039b5e0a8304cd1</string>
	<key>DATABASE_URL</key>
	<string>https://kidz-bop-player.firebaseio.com</string>
</dict>
</plist>